/Agecalc.class
/Agecalc.java
/BubbleSort.class
/BubbleSort.java
/Demo.class
/Demo.java
/doctor.class
/fecility.class
/GFG.class
/Guessnumber.class
/Guessnumber.java
/HospitalManagement.class
/java hospital managment system project.txt
/lab.class
/Main.class
/Main.java
/medical.class
/MergeSort.class
/MergeSort.java
/Monthfromnumber.class
/Monthfromnumber.java
/Mul.class
/Mul.java
/Multiplyerludo.java
/patient.class
/QuickSort.class
/QuickSort.java
/Rockpaper.java
/SelectionSort.class
/SelectionSort.java
/Seven.class
/Seven.java
/sib.class
/sib.java
/Siba.class
/Siba.java
/Sibasish.class
/Simple.class
/Simple.java
/Snakeladder.class
/Snakeladder.java
/Sss.class
/Sss.java
/staff.class
/VALID.class
/VALID.java